* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.template-container {
    width: 100%;
    
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding:80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #e0e0e0;
}

.header {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    color: #0d47a1;
}

h1 span {
    color: #0069d9;
    font-weight: bold;
}

.message {
    margin: 20px 0;
    font-size: 16px;
    font-style: italic;
    color: #444;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0d47a1;
    margin-bottom: 10px;
}

.name-designation {
    text-align: center;
}

.name-designation strong {
    font-size: 18px;
    color: #0d47a1;
}

.name-designation p {
    color: #666;
    font-size: 14px;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}
