* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.template-container {
  max-width: 700px;
  max-height: 700px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
}

.greeting {
  font-size: 36px;
  color: #1a73e8;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  color:#1a73e8;
  margin-bottom: 30px;
}

.profile-section {
  background-color: #1a73e8;
  color: white;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.designation {
  font-size: 18px;
  color: #ddd;
}

/* Drone icons (Optional) */
.template-container::before, .template-container::after {
  content: url('drone.png');
  position: absolute center;
  width: 20px;
  height: 20px;
  opacity: 0.1;
}

.template-container::before {
  top: 20px;
  left: 20px;
}

.template-container::after {
  bottom: 20px;
  right: 20px;
}

  